body, html, #root, .layoutContainer {
  height: 100%;
  width:100%;
  overflow: hidden;
  background-image: url('https://i.ytimg.com/vi/FAx59Q58qRY/maxresdefault.jpg');
  background-position: center;
  background-size: cover;
}

/*Mobile First Approach*/

img {
  width:100%;
}

h1 {
  text-align: center;
  font-size: 170%;
  color:white;
}

div.animeSquare h4 {
  text-align: center;
  color:white;
  background: rgba(0,0,0,.5);
  margin:0;
}

.hamtitleContainer {
  display: flex;
  justify-content: space-between;
}

.title, .hamburgerBtn {
  display: inline-block;
  color:white;
  padding: .1em 1em;
}

.navItemsContainer {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin:auto;
}

li.linkItem {
  display: flex;
  width: 100%;
  justify-content: center;
}

.linkImg {
  padding: .5em;
  width: 5em;
  height: 5em;
}

a.link {
  display: flex !important;
  align-items: center;
  font-size: 130%;
}
.componentContainer {
  display: flex;
  flex-direction: column;
}

.layoutContainer {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.form-control.searchBar {
  margin: 1em auto;
}

/*SignIn Modal*/

#myModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.fade {
  z-index: -1;
}

.modal.fade.in {
  z-index: 10000;
}

.modal-dialog {
  width: 100%;
  max-width: 40em;
}

.googleSignBtn {
  background-image: url('/assets/btn_google_dark_normal_ios.svg');
  /*background-image: url('google-sign-in.png');*/
  background-position: center;
}

.signBtn {
  margin:1.2em 1em 0;
  color:white;
  background-color: darkslategrey;
}

.modal-content {
  background-color:teal;
  color:white;
}

form {
  text-align: center;
}

.form-control {
  margin: auto;
  max-width: 18em;
}


/*AnimeModal*/
#animeModalMain {
  display: flex !important;
  justify-content: center;
}

.modalPicContainer {
  padding:1em;
}

.modalPic {
  width: 50%;
}

h3.headings.title {
  display: block;
}

.animeInfoContainer {
  display: flex;
  flex-direction: column ;
  align-items: center;

}

.animeInfo {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.animeModalClose {
  position: absolute;
  top:-1em;
  right:0;
  color:white;
  display: inline-block;
  font-size:150%;
  padding:1em;
}

.playerContainer {
  display: flex;
}

#player {
  width: 100%;
}


/*animeSquares*/
.compContainer {
  display: flex;
  flex-flow: row wrap;
}

.encloser {
  width:50%;
  margin:auto;
  padding:1em;
  max-width: 13em;
}

@media screen and (min-width: 768px) {
h1 {
  margin-top: 2em;
}

.compContainer {
  margin-top: 3.5em;
}

  .layoutContainer {
    flex-direction: row;
  }


  .navbarContainer {
    height:100%;
    width:32%;
    max-width: 16.5em;
  }

  .navItemsContainer {
    width: 100%;
  }

  .navbar {
    height: 100%;
  }

  #myNavbar {
    padding: 0;
  }

  .layoutContainer {
    overflow:hidden;
  }

  .componentContainer {
    flex-grow: 2;
    overflow: auto;
  }

  .encloser {
    max-width: 16em;
  }
}

@media screen and (min-width: 992px) {
  .modal-dialog {
    max-width: 90em;
  }

  .modalPicContainer {
    display: flex;
  }

  .playerContainer {
    width: 50%;
    align-items: center;
  }

  .animeInfoContainer {
    width: 50%;
    flex-flow: row wrap;
  }

  .animeTitle {
    width: 40%;
    margin:auto;
  }

  .btnContainer {
    width: 61%;
    margin:auto;
  }


}
