body, html, #root, .layoutContainer {
  height: 100%;
  width:100%;
  overflow: hidden;
}

/*Mobile First Approach*/

img {
  width:100%;
}

.hamtitleContainer {
  display: flex;
  justify-content: space-between;
}

.title, .hamburgerBtn {
  display: inline-block;
  color:white;
  padding: .1em 1em;
}

.navItemsContainer {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin:auto;
}

li.linkItem {
  display: flex;
  width: 100%;
  justify-content: center;
}

.linkImg {
  padding: .5em;
  width: 5em;
  height: 5em;
}

a.link {
  display: flex !important;
  align-items: center;
  font-size: 130%;
}
.componentContainer {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
}

/*SignIn Modal*/

#myModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.fade {
  z-index: -1;
}

.modal.fade.in {
  z-index: 10000;
}

.modal-dialog {
  width: 100%;
  max-width: 40em;
}

.googleSignBtn {
  background-image: url('/assets/btn_google_dark_normal_ios.svg');
  /*background-image: url('google-sign-in.png');*/
  background-position: center;
}

.signBtn {
  margin:1.2em 1em 0;
  color:white;
  background-color: darkslategrey;
}

.modal-content {
  background-color:teal;
  color:white;
}

form {
  text-align: center;
}

.form-control {
  margin: auto;
  max-width: 18em;
}


@media screen and (min-width: 768px) {
  .layoutContainer {
    flex-direction: row;
  }

  .navbarContainer {
    height:100%;
    width:32%;
    max-width: 16.5em;
  }

  .navItemsContainer {
    width: 100%;
  }

  .navbar {
    height: 100%;
  }

  #myNavbar {
    padding: 0;
  }

  .componentContainer {
    flex-grow: 2;
  }
}
